[submodule "extlibs/json_spirit"]
	path = extlibs/json_spirit
	url = https://github.com/i8degrees/json_spirit.git
[submodule "extlibs/nomJSON"]
	path = extlibs/nomJSON
	url = https://github.com/i8degrees/nomJSON.git
