# Project Folders
design/
tmp/

# Project Files
\*.ttcards.sublime-workspace
*.sublime-project
*.bck
*.xcf
*.mp3
*.ogg
*.wav
*.o
*.ttf
*.plist

# Debugging
*.debug
ttcards/ttcards
*ttcards.dSYM*
*.offsets.val
ttcards.dtps

# EMCC
public/

# docs
ttcards/docs/public/
